@-moz-document domain("chat.stackexchange.com")  { 
body {
	background-color : #000 !important;
	background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/skewed_print.png") !important;
	color            : #ddd !important;
}

.messages {
	background-color : #222 !important;
	border           : none !important;
	color            : #ddd !important;
}

.mine .messages {
	background-color : #333 !important;
	border           : none !important;
	color            : #ddd !important;
}

.messages .pending {
	color : #fb7 !important;
}

.messages .posted {
	color : #fdb !important;
}

.messages .neworedit {
	color : #fdb !important;
}

.msg-small, #sidebar {
	color : #ddd !important;
}

/* Begin Message */
.monologue {
	margin        : 0;
	padding       : 3px 0;
	border-radius : 6px;
	transition    : .3s;
}

.monologue:hover {
	background-color : #282828;
}

.avatar-32 {
	margin-top : 5px;
}

.message {
	margin-left   : 3px;
	padding-left  : 22px;
	border-radius : 3px;
	transition    : .3s;
}

.message:hover {
	border        : 1px solid transparent;
	border-bottom : 1px solid #333;
}

.message .action-link {
	border-radius : 3px 3px 0 0;
}

/* Background color for selected messages in select mode. */
#main.select-mode .message.selected {
	background-color : #3C3932;
}

div.message:hover .action-link,
.timestamp:hover + div.message .action-link {
	color            : #eee !important;
	background-color : #333 !important;
}

.message .meta {
	right         : 0;
	bottom        : 0;
	border-radius : 3px 3px 0 0;
	padding       : 0 4px;
}

.message .meta span:hover {
	background-color : #666;
	border-radius    : 3px;
}

.highlight {
	background-color : inherit;
	border-color     : yellow;
	margin-right     : 0;
}

/* Begin End */

/* Begin Bottom Area */
#input-area {
	background-color : #333 !important;
	background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/cartographer.png") !important;
}

#input-area tbody > tr > td:first-child {
	width : 9%;
}

#input-area td#chat-buttons,
#input-area td#footer-logo {
	width : 15.5%;
}

#input-area td#footer-logo {
	text-align : right;
	float      : none;
}

#input-area tbody > tr > td .avatar {
	margin-right : 20px;
	float        : right;
}

#input-area td.chat-input {
	width : 60%;
}

#input-area td.chat-input textarea {
	width       : 100%;
	margin-left : -30px;
}

/* Hide separators */
#sidebar-menu,
#footer-legal {
	color : transparent;
}

/* Now bring the parenthesis back */
#leaveall {
	border-left   : 1px solid #aaa;
	border-right  : 1px solid #aaa;
	border-radius : 5px;
	padding       : 0 3px;
}

#tabcomplete li {
	background-color : #000 !important;
	color            : #ccc !important;
}

#input {
	background-color : #000 !important;
	color            : #ddd !important;
}

/* End Bottom Area */

div.message.reply-parent, div.message.reply-child {
	background-color : #333 !important;
	border           : 1px solid #fff !important;
}

div.message .meta,
.timestamp {
	background-color : #333 !important;
	color            : #ddd !important;
}

.mention {
	background-color : transparent;
	color            : #fff;
	text-shadow      : 0 0 13px #fff;
}

a.signature {
	color : #ddd !important;
}

.flair {
	color : #ddd !important;
}

/* Begin OneBoxing */
.ob-tweet,
.ob-twitteruser,
.ob-wikipedia,
.ob-amazon,
.ob-gist,
.ob-message,
.ob-lpadbug,
.ob-manpage,
.ob-blog,
.ob-exception,
.ob-post,
.ob-user,
.ob-job {
	background-color : #333 !important;
	color            : #ddd !important;
}

.ob-post-title a,
.ob-tweet .ob-status-text,
.ob-wikipedia-title a,
.ob-amazon-title a,
.ob-lpadbug-title a,
.ob-manpage-title a,
.ob-blog-title a {
	color : #ddd !important;
}

.onebox {
	border-radius : 6px;
	transition    : 1s;
	opacity       : .6;
}

.onebox:hover {
	opacity : 1;
}

/* End OneBoxing */

/* Begin Notifications */
.notification, #feed-ticker {
	background         : rgba(0, 0, 0, 0.95) !important;

	-moz-box-shadow    : 0 1px 10px #545454 !important;
	-webkit-box-shadow : 0 1px 10px #545454 !important;
	box-shadow         : 0 1px 10px #545454 !important;
}

.ticker-item a {
	color : #509fd8 !important;
}

/* End Notifications */

/* Begin Sidebar */
#searchbox {
	background-color : #000 !important;
	color            : #ddd !important;
}

#sidebar #info #roomtitle {
	text-shadow : 0px 1px 0px #000 !important;
}

#sidebar #info #sidebar-menu,
#present-users,
ul#my-rooms,
div#starred-posts > div > ul > li {
	border-bottom : 1px dotted #222 !important;
}

.room-info > .last-message {
	margin-left : 10px !important;
}

ul#my-rooms > li.activity-0 {
	color : #fff !important;
}

ul#my-rooms > li.activity-1 {
	color : #ddd !important;
}

ul#my-rooms > li.activity-2 {
	color : #bbb !important;
}

ul#my-rooms > li.activity-3 {
	color : #999 !important;
}

ul#my-rooms > li.activity-4 {
	color : #888 !important;
}

ul#my-rooms > li.activity-5 {
	color : #777 !important;
}

ul#my-rooms > li.activity-6 {
	color : #666 !important;
}

ul#my-rooms > li:hover {
	background-color : #333 !important;
}

ul#my-rooms > li:hover a,
ul#my-rooms > li:hover div.last-message {
	color : #fff !important;
}

ul#my-rooms .quickleave {
	float   : right !important;
	opacity : 0.3 !important;
}

ul#my-rooms .quickleave:hover {
	opacity : 1.0 !important;
}

ul#my-rooms .quickswitch,
ul#my-rooms .quickleave,
.vote-count-container.stars .img {
	background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/sprites.png") !important;
}

#starred-posts ul li:hover {
	background-color : #333 !important;
}

/* End Sidebar */
.vote-count-container.stars.owner-star .img,
.vote-count-container.stars.user-star .img,
.vote-count-container.stars.owner-star.user-star .img,
.sprite {
	background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/sprites.png") !important;
}

/* Experimental Section */
/* Rectangular, flat counters */
#reply-count, #flag-count, #modflag-count, .reply-count, #annotation-count {
	background            : #98cdb5;
	background-color      : #98cdb5;
	border                : none;
	-moz-border-radius    : 0;
	-webkit-border-radius : 0;
	border-radius         : 0;
}

#reply-count, #flag-count, #modflag-count {
	left : 5px;
}

/* Rectangular buttons */
.button {
	-moz-border-radius    : 0;
	-webkit-border-radius : 0;
	border-radius         : 0;
}

/* Resize images on hover */
img.user-image {
	transition : 1s;
	opacity    : .6;
}

img.user-image:hover {
	max-width  : 100%;
	max-height : 100%;
	opacity    : 1;
}

/* Popup */
.popup,
#main.message-admin-mode .message-controls,
#conversation-sel {
	color        : #ddd;
	background   : rgba(20, 20, 20, 0.95);
	border-color : #000;
}

.popup .btn-close,
#conversation-sel .btn-close {
	background-color : transparent;
	border           : 1px solid transparent;
}

.popup .btn-close:hover,
#conversation-sel .btn-close:hover {
	border-color : #fff;
}} 
